body{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background-color: grey;
}
#main{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.text-center{
    text-align: center;
}
#form{
    padding-left: 20px;
    padding-right: 20px;
}
